@import '../../../variables';

.element{
    background-color: $accent-color;
    cursor:pointer;
    color: black;
 
    border: 2px solid $main-color;
    border-radius: $border-radius;
    clip-path: inset(0px 0px 0px round .2rem);

}

.element:hover{
    border: 2px solid $accent-color2;
    
}

.highlighted {
    background-color: $accent-color2;
}

.half-highlighted{
    background-color: $accent-color3;
}

.disabled{
    background-color: rgb(196, 196, 196);
    color: gray;
}

.disabled:hover{
    border: 2px solid $main-color;
}

.top{

}

.fill-in-top{
    width: 100%;
    height: 100%;
    background-color: $accent-color2;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    
}

.day-number{
    position: absolute;
    z-index: 330;

}