@import '../../../variables';

.form-container{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    // align-items: flex-end;
    z-index: 101;
    background-color: $main-color;
    clip-path: inset(0px 0px 0px round .2rem);
}

.test{
    background-color: rgba(234, 57, 57, 0.5);
    width: 50%;
    height: 100%;
    position: absolute;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}