@import "../../../variables";

.chart {
    max-height: 80vh;
    max-width: 100%;
    min-height: 50vh;
    // background-color: $main-color;
}

@media(max-width: 500px){
    .chart{
        max-width: 100%;
    }
}