@import '../../../variables';

.chart-parent-container {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.chart-parent-container h3{
    color: $header-color;
    margin: 0;
    // margin-left: 2rem;
    margin-top: .25rem;
    margin-bottom: .5rem;
}


.single-chart-container{
    max-width: 70vw;
}

@media(max-width: 900px){
    .chart-parent-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }
    .chart-subcontainer{
        width: 100%;
    }
}

