@import '../../../variables';

.message{
    font-size: 25px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    color: $accent-color3;
    border-radius: $border-radius;
}