@import "../../variables";
.li {
  border-right: $border;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 3vw;
}

.floating-button {
  position: absolute;
  top: 2.5rem;
  transform: translate(1.5rem);
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  background-color: $accent-color;
}

.lower {
  background-color: $accent-color;
}

.pulse {
    background-color: $accent-color;
    
}

.number{
  // padding-left: 1rem;
  // padding-right: 1rem;
  width: 14vw;
}

@media (max-width: 500px) {
  .floating-button {
    top: 2.5rem;
    transform: translate(0.75rem, -0.5rem);
  }
  .upper{

  }
}
