@import "../../variables";
.li {
  border-right: $border;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 3vw;
}

.floating-button {
  position: absolute;
  top: 2.5rem;
  transform: translate(1.5rem);
}

@media(max-width: 500px){
    .floating-button{
        top: 2.5rem;
        transform: translate(.75rem, -.5rem);
    }
}
