@import "../../variables";



.form {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.form div{
    display: flex;
    flex-direction: column;
    padding: $size-main;
    gap: 18px;
    padding-top: calc(.5rem + 16px);
    padding-bottom: calc(.5rem + 16px);
    background-color: $main-color;
}

.form input{
    border: none;
    height: $size-main;
    font-family: "Raleway", sans-serif;
    
}

.date-input{
    color: $accent-color2;
    background-color: $accent-color;
}

.input{
    background-color: $accent-color;
}