@import "../../variables";

.chart-and-form-container{
    display: flex;
    gap: 1rem;
    // width: 100vw;
}

.chart-container{
    width: 100%;
    
}

.form-or-button-container{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: red;
   
}

.form-container{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 101;
    
}

.button-add-new{
    border:none;
    width: 15vw;
    height: 15vw;
    // margin-top: 50%;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    right: 3rem;
    gap: 1rem;
}

.buttons{
    display: flex;
    gap: .25rem;
}


