@import "../../variables";

.table h2{
    color: $header-color;
    font-weight: 400;
}

@media(max-width: 500px){
    .table h2{
        display: none;
    }
    .table{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

