@import "../../variables";

h2{
    margin: 0;
}

.content{
    display: flex; 
}

.table{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow-buttons-container{
    display: flex;
    flex-direction: row;
}

.ul{
    display: flex;
    list-style: none;
    background-color: $main-color;
    width: fit-content;
    height: 174px;

    padding: 0;
    margin-top: 0rem;
    
}

.ul li {
    border-right: $border;
    padding: $size-main/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.element {
    text-align: center;
}

.ul p{
    margin: 0;
    margin-left: $size-main/2;
    margin-top: $size-main/2;
    margin-right: $size-main/2;
    margin-bottom: $size-main/2;
}


.date{
    color: $accent-color2;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    width: 14vw;
    max-width: 14vw;
    
}

.button-add-new{
    border: none;
    margin-top: $size-main;
    margin-bottom: $size-main;
    width: 14vw;
    background-color: $main-color;
    cursor: pointer;
}

.button-add-new:hover{
    background-color: $accent-color;
}

.labels{
    text-align: right;
}