h2{
    margin: 0;
}

.content{
    display: flex; 
}

.table{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow-buttons-container{
    display: flex;
    flex-direction: row;
}

.ul{
    display: flex;
    list-style: none;
    background-color: rgb(233, 233, 233);
    width: fit-content;
    height: 174px;

    padding: 0;
    margin-top: 0rem;
    
}

.ul li {
    border-right: 1px solid lightgray;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.element {
    text-align: center;
}

.ul p{
    margin: 0;
    margin-left: 0.5rem;
    margin-top: .5rem;
    margin-right: 0.5rem;
    margin-bottom: .5rem;
}


.date{
    color: cornflowerblue;
}


.form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0rem;
    width: 14vw;
    max-width: 14vw;
    
}

.button-add-new{
    border: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 14vw;
}

.labels{
    text-align: right;
}