@import "../../../variables";

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.inputs{
  display: flex;
  flex-direction: column;
  padding: $size-main;
  gap: .5rem;
  background-color: $main-color;
}

.form input {
  height: $size-main;
  font-family: "Raleway", sans-serif;
}

.date-input {
  color: $accent-color2;
}

.red{
    border-color: rgb(255, 21, 0);
    border-radius: .15rem;
    background-color: rgb(254, 232, 225);
}

.red-text{
    color: rgb(255, 21, 0);
    padding: 0;
    margin: 0;
    font-size: 14px
}

// @media(max-width: 500px){
//   .form input{
//     font-size: 18px;
//   }
//   .input{
//     background-color: red;
//   }
// }