@import '../variables';

.footer{
  width: 95%;
  text-align: center;
  padding: 1rem;
  z-index: 0;
}

@media(max-width: 500px) {
  .footer {
    position: absolute;
    bottom: 0;
    // background-color: $accent-color;
  }
}