@import '../variables';

.footer{
  text-align: center;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer p{
  padding: 0;
  margin: 0.25rem;
}

.footer i{
  cursor:pointer;
}

.footer i:hover{
  text-decoration:underline;
}

@media(max-width: 500px) {
  // .footer {
  //   position: absolute;
  //   bottom: 0;
  //   // background-color: $accent-color;
  // }
}