@import "../variables";

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $size-main/2;
    padding-bottom: $size-main/2;
    padding-left: $margin;
    padding-right: $margin;

    border-bottom: $border;
}

.header h1 {
    margin: 0;
    color: $header-color;
}

.header img {
    width: 2rem;
    height: 2rem;
    filter: $filter;
}

.logo{
    display: flex;
    align-items: center;gap: .5rem;
    
}

.elements {
    display: flex;
    align-items: center;
    gap: $size-main;

}

.message{
    cursor: pointer;
}

.show-on-mobile{
    display: none;
}

.dont-show-on-mobile{
    display: block;
}

@media(max-width: 500px){
    .header{
        padding-top: $size-main/2;
        padding-bottom: $size-main/2;
        padding-left: $margin/4;
        padding-right: $margin/4;
        gap: 2rem;
        display: flex;
        flex-direction: row;
        gap: $margin/4;

        // position: fixed;
        // z-index: 101;
    }
    .main-elements{
        display: flex;
        flex-direction: column;
        gap: .75rem;
        align-items: flex-start;
        justify-content: space-between;
    }
    .elements{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .header p {
        margin : 0;
        text-align: right;
    }
    .header h1{
        font-size: 22px;
    }
    .show-on-mobile{
        display: block;
    }
    
    .dont-show-on-mobile{
        display: none;
    }
}