@import "../variables";


.main{
    margin-left: $margin;
    margin-right: $margin;
    margin-bottom: $margin;
    min-height: 65vh;
}
@media(max-width: 500px){
    .main{
        margin-left: .75rem;
        margin-right: .75rem;
        margin-bottom: .75rem;
        min-height: 80vh;
    } 
}