@import "../variables";


.main{
    margin-left: $margin;
    margin-right: $margin;
    margin-bottom: $margin;
    max-height: 90vh;
}
@media(max-width: 500px){
    .main{
        margin-left: .5rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
    } 
}