@import "../../../variables";

.form-container{
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 101;

    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form{
    display: flex;
    flex-direction: column;
    background-color: $main-color;
    width: 100%;
    
}
.form-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .5rem;
    padding: 1rem;
}
.form-content label{
    text-align: right;
}

.input {
    color: $accent-color2;
}

@media(max-width: 500px){
    .date-options{
        display: flex;
        width: 100%;
        padding : 0;
    }
    .submit{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}