@import "../../../variables";

.content {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.content img{
  width: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}

.menu p {
  margin: 0;
}

.pink {
  color: $pink;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

@media (max-width: 1000px) {
  .content{
    align-items: flex-start;
  }
}
