.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    right: 3rem;
    gap: .25rem;
}

.show-on-mobile{
    display: none;
}

@media(max-width: 500px){
    .dont-show-on-mobile{
        display: none;
    }
    .show-on-mobile{
        display: block;
    }

}
