@import '../../../variables';

.display-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
}

.display-buttons__select-view{
    display: flex;
    gap: .25rem;
}

.display-buttons__select-view__label{
    display: flex;
    align-items: center;

}

.display-buttons__select-view__options-container{
        display: flex;
        gap: .25rem;
}

.display-buttons__select-view__select{
    border: none;
    border-radius: .15rem;
    background-color: $accent-color;
    color: $header-color;
    font-size: 15px;
    height: 1.5rem;
}

@media(max-width: 500px){
    .display-buttons__select-view{
        font-size: 18px;
        display: flex;
        flex-direction: row;
    }
    .display-buttons__select-view__select{
        font-size: 20px;
        height: 2.5rem;
        padding-right: .5rem;
        padding-left: .5rem;
    }
}