@import '../../../variables';


.month-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    
}

.month-container h3{
    margin: 0rem;
    color: rgb(57, 57, 57);
    font-weight: 500;
}


.table{
    z-index: 200;
    
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    gap: 1rem;
    list-style: none;
    padding:0rem;
    margin: 0rem;
    text-align: center;
    color: $accent-color2;
    box-sizing: border-box;
}

@media(max-width: 700px){
    .month-container{
        padding: .5rem;
    }
    .table{
        grid-template-columns: repeat(7, 8vw);
        gap: .8rem;
    }
}

