@import "../../../variables";

.data-menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.data-menu-container h3 {
  color: $header-color;
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 1000px) {
  .data-menu-container {
    display: flex;
    flex-direction: column;
  }
}
