@import "../../../variables";

.close{
    border: none;
    background-color: $accent-color;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.close img{
    width: .75rem;
    filter: $filter;
}

.close:hover,
.close:active,
.active{
    background-color: $button-color-hover;
}

.right-arrow{
    transform: rotate(-90deg);
}

.left-arrow{
    transform: rotate(90deg);
}

.inactive{
    background-color: rgb(218, 218, 218);
}

.inactive img {
    filter:opacity(.3);
}

.inactive:hover{
    background-color: rgb(218, 218, 218);
    cursor:auto;
}

.rounded{
    border-radius: $border-radius;
}

@media(max-width: 500px){
    .close{
        height: 2rem;
        width: 2rem;
    }
    .close img {
        width: 1rem;
    }
}