@import "../../../variables";

.close{
    border: none;
    background-color: rgb(0, 0, 0, 0);
    min-height: 1.5rem;
    min-width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.close img{
    width: .75rem;
}

@media(max-width: 500px){
    .close{
        min-height: 2rem;
        min-width: 2rem;
        
    }
    .close img {
        width: 1.3rem;
    }
}

