
$main-color: rgb(236, 236, 237);
$accent-color: rgb(195, 211, 227);
$accent-color2: rgb(100, 166, 237);

$button-color: $accent-color;
$button-color-hover: rgb(173, 204, 232);
$border-radius: .2rem;

$red: rgb(232, 72, 85);
$pink: rgb(239, 188, 213);
$blue: rgb(100, 166, 237);

$border: 1px solid lightgray;

$size-main: 1rem;
$margin: $size-main*3;