@import "../../variables";

.button {
    font-size: 16px;
    padding: $size-main/2;
    padding-left: $size-main;
    padding-right: $size-main;
    border: none;
    background-color: $button-color;
    cursor: pointer;
}

.button:hover,
.button:active{
    background-color: $button-color-hover;
}