@import "../../variables";

.close{
    border: none;
    background-color: $accent-color;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: $border-radius;
}

.close img{
    width: .75rem;
    filter: $filter;
}

.transparent {
    background-color: red
    //rgb(0, 0, 0, 0)
    ;
}

.close:hover,
.close:active{
    background-color: $button-color-hover;
}

.right-arrow{
    transform: rotate(-90deg);
}

.left-arrow{
    transform: rotate(90deg);
}
.mobile-get-back{
    transform: rotate(90deg);
}

@media(max-width: 500px){
    .close{
        height: 2.5rem;
        width: 2.5rem;
    }
    .close img {
        width: 1rem;
    }
}