@import "../../variables";

.close{
    border: none;
    background-color: $accent-color;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close img{
    width: 1rem;
}

.close:hover,
.close:active{
    background-color: $button-color-hover;
}

.right-arrow{
    transform: rotate(-90deg);
}

.left-arrow{
    transform: rotate(90deg);
}