@import "../../variables";

.round-button{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: $accent-color2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 23px;
    color: white;
    z-index: 55;
    
}

@media(max-width: 500px){
    .round-button{
        bottom: 5.5rem;
        right: 1rem;
        z-index: 0;
    }

}